.content {
	text-align: center;
	background-color: #202225;
	position: relative;
	display: block;
	width: 100%;
}

@media(orientation: landscape) {
	.content {
		position: fixed;
		right: 0;
		top: 0;
		width: 30vw;
		height: calc(100% - 2rem);
		margin: 1rem;
		box-shadow: 6px 6px 5px black;
	}
}

::ng-deep .mat-tab-body-wrapper {
	height: 100%;
}
