@use '@angular/material' as mat;
@include mat.core();

// hue. Available color palettes: https://material.io/design/color/
$JTF-primary: mat.define-palette(mat.$red-palette, 900);
$JTF-accent: mat.define-palette(mat.$indigo-palette, 900);
$JTF-warn: mat.define-palette(mat.$orange-palette, 500);
$JTF-theme: mat.define-dark-theme((
  color: (
    primary: $JTF-primary,
    accent: $JTF-accent,
    warn: $JTF-warn,
  )
));

@include mat.all-component-themes($JTF-theme);

@import '~bootstrap/dist/css/bootstrap-utilities.min.css';

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	width: 10px;
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.6);
	&:hover { background: rgba(255, 255, 255, 0.8); }
}

html, body {
	height: 100%;
}
body {
	background: #000;
	color: #fff;
	font-family: Roboto, sans-serif;
	margin: 0;
}

a, a:visited {
	text-decoration: none;
	color: #3c0000;
}
a:hover, a:visited:hover { color: #550000; }

.fill {
	height: 0;
	min-height: calc(100vh - 64px);
}

.stencil {
	font-family: Saira Stencil One !important;
}
